https://www.plesk.com/blog/various/nginx-configuration-guide/
For Ubuntu 20.04 & 22.04:
rm -rf  /etc/nginx/sites-available/default
nano /etc/nginx/sites-available/default

server {
        listen       8080;
        server_name  localhost;
        location / {
            root   /var/www/html/;
            index  index.nginx-debian.html index.html index.htm;
        }
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /var/www/html/;
        }
        error_page   403 404 /40x.html;
        location = /40x.html {
            root   /var/www/html/;
        }
    }
