server {
        listen 80 default_server;
        listen [::]:80 default_server;

        root /var/www/html;
        error_page 404 /error.html;
        location = /error.html {
        internal;
    }
        index index.html index.htm index.nginx-debian.html;
        server_name _;
        location / {
                try_files $uri $uri/ =404;
        }

}

#In Ubuntu, location is /etc/nginx/sites-enabled/default